-- 1) Função utilitária para resolver a secretaria atual
create or replace function public.current_secretaria(p_hint text default null)
returns text
language plpgsql
security definer
stable
as \$\$
declare
  v_jwt jsonb;
  v_from_jwt text;
  v_from_profiles text;
  v_user uuid;
  v_fundos text[];
begin
  -- 1) se vier explícito (RPC/INSERT), use
  if p_hint is not null and btrim(p_hint) <> '' then
    return btrim(p_hint);
  end if;

  -- 2) tenta pegar do JWT (request.jwt.claims)
  begin
    v_jwt := current_setting('request.jwt.claims', true)::jsonb;
  exception when others then
    v_jwt := null;
  end;
  if v_jwt ? 'secretaria' then
    v_from_jwt := nullif(btrim(coalesce(v_jwt->>'secretaria','')), '');
    if v_from_jwt is not null then
      return v_from_jwt;
    end if;
  end if;

  -- 3) tenta do perfil do usuário
  v_user := auth.uid();
  if v_user is not null then
    select fundo_municipal
      into v_fundos
      from public.user_profiles
     where user_id = v_user
     limit 1;

    if v_fundos is not null then
      if array_length(v_fundos, 1) = 1 then
        v_from_profiles := nullif(btrim(v_fundos[1]), '');
        if v_from_profiles is not null then
          return v_from_profiles;
        end if;
      else
        -- se tiver várias, tenta \
Prefeitura
Municipal\
        if 'Prefeitura Municipal' = any(v_fundos) then
          return 'Prefeitura Municipal';
        end if;
        -- não dá pra decidir sozinho
        raise exception 'Secretaria não definida: selecione uma secretaria na interface.'
          using errcode = 'P0001';
      end if;
    end if;
  end if;

  -- 4) sem opção
  raise exception 'Secretaria não definida para o usuário.'
    using errcode = 'P0001';
end;
\$\$;


-- 2) Trigger para preencher defaults na criação da solicitação
create or replace function public.ordem_solicitacoes_fill_defaults()
returns trigger
language plpgsql
security definer
as \$\$
begin
  -- Garantir solicitante
  if new.solicitante is null then
    new.solicitante := auth.uid();
  end if;

  -- Garantir secretaria (usa valor enviado, JWT ou perfil)
  new.secretaria := public.current_secretaria(new.secretaria);

  -- saneamento opcional
  new.secretaria := nullif(btrim(new.secretaria), '');
  if new.secretaria is null then
    raise exception 'Secretaria não definida.'
      using errcode = 'P0001';
  end if;

  return new;
end;
\$\$;

drop trigger if exists trg_ordem_solicitacoes_fill_defaults on public.ordem_solicitacoes;
create trigger trg_ordem_solicitacoes_fill_defaults
before insert on public.ordem_solicitacoes
for each row
execute function public.ordem_solicitacoes_fill_defaults();
